node_modules
npm-debug.log
.git
.gitignore
.env.local
.env.*.local
.env
.env.*
README.md
Dockerfile
.dockerignore
.DS_Store
.vscode
.idea
*.log
public/hot
public/storage
storage/app/public
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/logs
bootstrap/cache/*.php
.phpunit.result.cache
vendor/*/tests
vendor/*/Tests
tests
*.md
